<p-dialog header="Nueva Solicitud" [(visible)]="mostrarModal" [modal]="true" [closable]="false" [responsive]="true" [style]="{ width: '400px' }">
  <form [formGroup]="formSolicitud" (ngSubmit)="crearSolicitud()">
    <div class="mb-3">
      <label>Monto solicitado</label>
      <input type="number" pInputText formControlName="monto" class="w-100" />
      <small class="text-danger" *ngIf="formSolicitud.get('monto')?.touched && formSolicitud.get('monto')?.invalid">
        El monto es obligatorio y debe estar entre $2.000 y $100.000.
      </small>
    </div>

    <div class="mb-3">
      <label>Plazo (meses)</label>
      <input type="number" pInputText formControlName="plazo" class="w-100" />
      <small class="text-danger" *ngIf="formSolicitud.get('plazo')?.touched && formSolicitud.get('plazo')?.invalid">
        El plazo debe ser entre 6 y 60 meses.
      </small>
    </div>

    <div class="mb-3">
      <label>Tasa de Interés (%)</label>
      <input type="number" pInputText formControlName="tasaInteres" class="w-100" />
      <small class="text-danger" *ngIf="formSolicitud.get('tasaInteres')?.touched && formSolicitud.get('tasaInteres')?.invalid">
        La tasa debe ser entre 15.60% y 100%.
      </small>
    </div>

    <div class="mb-3">
      <label>Ingreso Mensual</label>
      <input type="number" pInputText formControlName="ingresoMensual" class="w-100" />
      <small class="text-danger" *ngIf="formSolicitud.get('ingresoMensual')?.touched && formSolicitud.get('ingresoMensual')?.invalid">
        El ingreso debe ser mayor a 700.
      </small>
    </div>

    <div class="mb-3">
      <label>Antigüedad Laboral (años)</label>
      <input type="number" pInputText formControlName="antiguedadLaboral" class="w-100" />
      <small class="text-danger" *ngIf="formSolicitud.get('antiguedadLaboral')?.touched && formSolicitud.get('antiguedadLaboral')?.invalid">
        La antigüedad no puede ser negativa.
      </small>
    </div>

    <div class="mb-4">
      <label>Relación de Dependencia</label>
      <input type="text" pInputText formControlName="relacionDependencia" class="w-100" />
    </div>

    <div class="mb-4">
      <label>Motivo de solicitud</label>
      <input type="text" pInputText formControlName="motivo" class="w-100" />
      <small class="text-danger" *ngIf="formSolicitud.get('motivo')?.touched && formSolicitud.get('motivo')?.invalid">
        Este campo es obligatorio.
      </small>
    </div>

    <div class="text-end">
      <button pButton type="button" label="Cancelar" class="p-button-text" (click)="cerrarModal()"></button>
      <button pButton type="submit" label="Guardar" [disabled]="formSolicitud.invalid"></button>
    </div>
  </form>
</p-dialog>
