<p-menubar class="w-100 border-0 shadow-sm">
  <ng-template pTemplate="start">
    <span class="navbar-brand fw-bold ms-2">Crédito Online</span>
  </ng-template>

  <ng-template pTemplate="end">
    <p-menu #userMenu [popup]="true" [model]="menuItems" styleClass="p-menu-sm custom-menu"></p-menu>

    <button
      pButton
      class="p-button-text text-dark d-flex align-items-center"
      (click)="userMenu.toggle($event)">
      <i class="pi pi-user me-2"></i>
      {{ nombreUsuario }}
    </button>
  </ng-template>
</p-menubar>
